$dark-primary: #E64A19;
$light-primary: #a714a2;
$primary: #600c5c;
$text-icons: #FFFFFF;
$accent: #2384a0;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

$box-colour: #b2b2b2;

@font-face {
  font-family: Luminari;
  src: url("../fonts/Luminari-Regular.ttf");
}

@font-face {
  font-family: Dearest;
  src: url("../fonts/Dearest.ttf");
}

.window-title {
  position: absolute;
  top: 0;
  left: 35%;
  width: 30%;
  text-align: center;
  -webkit-app-region: drag;
}

.new-spell {
  width: 90%;
  margin: 0 auto;
  background: $accent;
  font-family: Luminari, Helvetica, sans-serif;
  height: fit-content;
  font-size: 40pt;
  color: $text-icons;
  text-align: center;
}

.separator {
  width: 100%;
  background-color: $divider;
  height: 3px;
  border-radius: 2px;
}

.page-holder {
  border: 0;
  padding: 10px 20px;
}

.spell-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

label{
  margin: 10px auto;
  background: inherit;
  border: none;
  color: inherit;
  font: inherit;
}

.spell-name-input {
  width: 100%;
  color: $text-icons;
  font-family: Luminari, Helvetica, sans-serif;
  font-size: 30pt;
  background: transparent;
  text-align: center;
  border: none;
}

::placeholder{
  color: $text-icons
}

.row {
  margin: 10px auto;
  width: 90%;
}

.row .cell, .row .cell-text{
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 0 auto;
  background-color: $primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $text-icons;
}

.row .cell:hover, .row .cell-text:hover {
  box-shadow: 0 4px 8px 0 rgba(101, 44, 140, 0.7), 0 6px 20px 0 rgba(101, 44, 140, 0.19);
}

.row .cell .input, .row .cell-text .input {
  width: 100%;
  height: 65px;
  line-height: 65px;
  background: inherit;
  text-align: center;
  font-size: 20pt;
}

.row .cell .input:hover {
  cursor: pointer;
}

.row .cell-text {
  width: 100%;
  height: fit-content;
}

.row .cell-text .input{
  width: 90%;
  box-sizing: border-box;
  padding: 0 3px;
  margin: 0 auto 5px;
  height: fit-content;
  font-size: 20pt;
  color: $text-icons;
}

.row #spell-name .input {
  font-family: Luminari, Helvetica, sans-serif;
  font-size: 30pt;
}

.row #spell-dmg .input{
  height: 100px;
  position: relative;
}

.row #spell-cast-desc .input {
  width: 90%;
}

.row #to-hit-save .input:hover, .row #effect .input:hover {
  cursor: pointer;
}


.row #spell-cast-time .input:hover, .row .cell-text .input:hover{
  cursor: text;
}

div:focus{
  outline: none;
}

.row #spell-level{
  width: 110px;
}

.row #spell-cast-time {
  width: 150px;
}

.row #spell-cast-action {
  width: 200px;
}

.row #spell-school {
  width: 240px;
}

.row .cell .title, .row .cell-text .title{
  box-sizing: border-box;
  padding: 5px;
  background: $primary;
  width: 100%;
  height: 35px;
  line-height: 25px;
  text-align: center;
  font-size: 17pt;
}

.spell-level {
  margin: 0 20px 0 30px
}

.select-box, .wheel-container {
  width: 250px;
  height: 400px;
  top: 50%;
  padding: 0;
  background: $primary;
  box-shadow: 0 4px 8px 0 rgba(101, 44, 140, 0.7), 0 6px 20px 0 rgba(101, 44, 140, 0.19);
  display: flex;
  flex-direction: column;
  left: 50%;
  color: $text-icons;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
  overflow: scroll;
}

div.select-box::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.select-box .title {
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 5px;
  background: $primary;
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  line-height: 25px;
  text-align: center;
  font-size: 17pt;
}
.select-box .select-done {
  position: sticky;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
  background: $primary;
  height: 35px;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  font-size: 15pt;
}

.select-box .option {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  font-size: 15pt;
}

.select-box .option .check-holder {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  height: 40px;
  line-height: 20px;
}

.select-box .option:hover, .select-box .select-done:hover{
  cursor: pointer;
  background: $text-icons;
  color: black;
}

.row #Components .input {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 5px;
}

.component {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
  border: $light-primary 1px solid;
  color: $light-primary
}

.add-damage {
  border-radius: 50%;
  height: 50px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
  line-height: 50px;
  margin: 20px auto;
  width: 50px;
  transition: transform 500ms ease-in-out;
  background: $accent;
}

.add-damage:hover {
  cursor: pointer;
  transform: rotate(360deg);
  box-shadow: 0 0 5px 4px rgba(87, 28, 9, 0.3);
}

.damage {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  font-size: 16pt;
  margin: 10px 0;
}

.dice {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

.dice-id {
  margin-right: 10px;
}

.n-dice {

}

.damage .damage-type {
  margin-right: 5px;
}

.damage .damage-type:hover {
  cursor: pointer;
}

.damage .delete-damage {
  position: absolute;
  right: 5px;
  background-color: $text-icons;
  color: black;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

.damage .delete-damage:hover {
  cursor: pointer;
}